# data file
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.h5

# Cell Ranger output
outs/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# R environment
.Rhistory
.RData
.Rproj.user/

# System/Editor files
*.swp
*.swo
*~
.DS_Store

# Large-scale intermediate results (Scanpy outputs)
*.h5ad
*.png
*.pdf
*.jpg
*.svg
